* {
  padding: 0;
  margin: 0;
}
div {
  box-sizing: border-box;
}
div:after,
div:before {
  clear: both;
  content: '';
  display: block;
}
body {
  font: 16px sans-serif;
  width: 100%;
}
.row {
  margin: 0;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: inherit;
  padding: 0;
}
.container-fluid {
  padding: 0;
}
.container-fluid .errors,
.container-fluid .go {
  background: red;
  color: white;
  padding: 5px;
  margin: 5px 0;
}
.container-fluid .go {
  background: green;
}
.container-fluid form {
  padding-bottom: 15px;
}
.container-fluid form .btn {
  width: 100%;
}
.container-fluid form .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
.container-fluid form .hide {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.container-fluid form label.file {
  background: #249dff;
  font-size: 20px;
  font-weight: 100;
  border-radius: 100%;
  cursor: pointer;
  padding: 20px;
}
.container-fluid .header {
  background: -moz- linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  background: -webkit- linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
}
.container-fluid .header .logo {
  padding: 15px;
}
.container-fluid .header .logo .move {
  position: absolute;
  animation-name: move;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-duration: 10s;
}
.container-fluid .header .logo .sun {
  position: relative;
  background: -moz- radial-gradient(ellipse at center, #fefcea 0%, #f1da36 100%);
  background: -webkit- radial-gradient(ellipse at center, #fefcea 0%, #f1da36 100%);
  background: radial-gradient(ellipse at center, #fefcea 0%, #f1da36 100%);
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.container-fluid .header .logo .sun:after,
.container-fluid .header .logo .sun:before {
  position: absolute;
  width: 10px;
  height: 10px;
  background: black;
  top: 20px;
  border-radius: 100%;
  animation-name: mig;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
.container-fluid .header .logo .sun:after {
  right: 10px;
}
.container-fluid .header .logo .sun:before {
  left: 10px;
}
.container-fluid .header .logo .sun .roth {
  border-top: 10px solid black;
  border-radius: 50%;
}
.container-fluid .header .logo .sun,
.container-fluid .header .logo .slang {
  float: left;
}
.container-fluid .header .logo .slang {
  padding: 20px 10px;
}
.container-fluid .header .logo .slang p {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 17px;
  color: white;
}
.container-fluid .header form {
  padding-bottom: 0;
}
.container-fluid .header form .btn {
  width: auto;
}
.container-fluid .header .modal-open {
  float: left;
  margin: 5px;
}
.container-fluid .header .modal-body form {
  padding-bottom: 15px;
}
.container-fluid .header .modal-body form .btn {
  width: 100%;
}
.container-fluid .header .modal-body form .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
.container-fluid .header .modal-body .block-icons .fa-facebook-official {
  color: #249dff;
}
.container-fluid .header .modal-body .block-icons .fa-odnoklassniki {
  color: #ffa210;
}
.container-fluid .header .modal-body .block-icons .fa-vk {
  color: #2c54ff;
}
.container-fluid .header .modal-body .block-icons .fa-instagram {
  color: #ff6037;
}
.container-fluid .header .menu {
  position: relative;
  display: block;
  height: 60px;
}
.container-fluid .header .menu-header {
  position: absolute;
  top: 0;
}
.container-fluid .header .menu #checkbox {
  display: none;
}
.container-fluid .header .menu #checkbox:checked ~ .nav,
.container-fluid .header .menu #checkbox:checked ~ nav {
  display: block;
}
.container-fluid .header .menu label {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  display: block;
}
.container-fluid .header .menu .burger {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  top: 12px;
}
.container-fluid .header .menu .burger_open {
  position: relative;
  background: white;
  width: 50px;
  height: 5px;
}
.container-fluid .header .menu .burger_open:after,
.container-fluid .header .menu .burger_open:before {
  position: absolute;
  left: 0;
  top: 15px;
  background: white;
  width: 50px;
  height: 5px;
}
.container-fluid .header .menu .burger_open:before {
  top: 30px;
}
.container-fluid .header .menu .nav,
.container-fluid .header .menu nav.nav-one {
  position: absolute;
  top: 100%;
  display: none;
  background: #52B152;
  width: 100%;
}
.container-fluid .header .menu nav.nav-one {
  width: 100%;
}
.container-fluid .header .menu nav {
  width: 50%;
}
.container-fluid .header .menu nav:nth-child(2) li {
  text-align: right;
  padding-right: 20px;
}
.container-fluid .header .menu nav ul {
  margin-bottom: 0;
}
.container-fluid .header .menu nav ul li {
  display: block;
  text-align: left;
  font-size: 16px;
  padding-left: 20px;
}
.container-fluid .header .menu nav ul li:hover {
  background: #007bff;
}
.container-fluid .header .menu nav ul li a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 12px 0;
}
.container-fluid .contain {
  padding: 10px;
}
.container-fluid .contain .col,
.container-fluid .contain .col-1,
.container-fluid .contain .col-10,
.container-fluid .contain .col-11,
.container-fluid .contain .col-12,
.container-fluid .contain .col-2,
.container-fluid .contain .col-3,
.container-fluid .contain .col-4,
.container-fluid .contain .col-5,
.container-fluid .contain .col-6,
.container-fluid .contain .col-7,
.container-fluid .contain .col-8,
.container-fluid .contain .col-9,
.container-fluid .contain .col-auto,
.container-fluid .contain .col-lg,
.container-fluid .contain .col-lg-1,
.container-fluid .contain .col-lg-10,
.container-fluid .contain .col-lg-11,
.container-fluid .contain .col-lg-12,
.container-fluid .contain .col-lg-2,
.container-fluid .contain .col-lg-3,
.container-fluid .contain .col-lg-4,
.container-fluid .contain .col-lg-5,
.container-fluid .contain .col-lg-6,
.container-fluid .contain .col-lg-7,
.container-fluid .contain .col-lg-8,
.container-fluid .contain .col-lg-9,
.container-fluid .contain .col-lg-auto,
.container-fluid .contain .col-md,
.container-fluid .contain .col-md-1,
.container-fluid .contain .col-md-10,
.container-fluid .contain .col-md-11,
.container-fluid .contain .col-md-12,
.container-fluid .contain .col-md-2,
.container-fluid .contain .col-md-3,
.container-fluid .contain .col-md-4,
.container-fluid .contain .col-md-5,
.container-fluid .contain .col-md-6,
.container-fluid .contain .col-md-7,
.container-fluid .contain .col-md-8,
.container-fluid .contain .col-md-9,
.container-fluid .contain .col-md-auto,
.container-fluid .contain .col-sm,
.container-fluid .contain .col-sm-1,
.container-fluid .contain .col-sm-10,
.container-fluid .contain .col-sm-11,
.container-fluid .contain .col-sm-12,
.container-fluid .contain .col-sm-2,
.container-fluid .contain .col-sm-3,
.container-fluid .contain .col-sm-4,
.container-fluid .contain .col-sm-5,
.container-fluid .contain .col-sm-6,
.container-fluid .contain .col-sm-7,
.container-fluid .contain .col-sm-8,
.container-fluid .contain .col-sm-9,
.container-fluid .contain .col-sm-auto,
.container-fluid .contain .col-xl,
.container-fluid .contain .col-xl-1,
.container-fluid .contain .col-xl-10,
.container-fluid .contain .col-xl-11,
.container-fluid .contain .col-xl-12,
.container-fluid .contain .col-xl-2,
.container-fluid .contain .col-xl-3,
.container-fluid .contain .col-xl-4,
.container-fluid .contain .col-xl-5,
.container-fluid .contain .col-xl-6,
.container-fluid .contain .col-xl-7,
.container-fluid .contain .col-xl-8,
.container-fluid .contain .col-xl-9,
.container-fluid .contain .col-xl-auto {
  padding: 0 15px;
}
.container-fluid .contain .post {
  background: #9ff2f9;
  border: 2px solid #000;
  border-radius: 10px;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
  height: 300px;
  cursor: auto;
  overflow: auto;
}
.container-fluid .contain .post_img {
  width: 100%;
  margin: 10px 0;
}
.container-fluid .contain .post_text {
  font-weight: 300;
}
.container-fluid .contain .post_data {
  margin: 10px 0;
  text-align: right;
  font-weight: bold;
}
.container-fluid .footer {
  height: 100px;
  padding: 10px;
  background: -moz- linear-gradient(to bottom, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
  background: -webkit- linear-gradient(to bottom, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
  background: linear-gradient(to bottom, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
}
.container-fluid .footer .block_icon {
  float: right;
}
.container-fluid .footer .block_icon .block_img {
  float: left;
  display: table;
}
.container-fluid .footer .block_icon .block_img .img_icons {
  background-image: url(../photo/icons.png);
  width: 48px;
  height: 48px;
  display: block;
  float: left;
}
.container-fluid .footer .block_icon .block_img .icon_ok {
  width: 48px;
  height: 48px;
  background-position: 0 0;
}
.container-fluid .footer .block_icon .block_img .icon_instagram {
  width: 48px;
  height: 48px;
  background-position: -96px 0;
}
.container-fluid .footer .block_icon .block_img .icon_facebook {
  width: 48px;
  height: 48px;
  background-position: -144px 0;
}
.container-fluid .footer .block_icon .block_img .icon_vk {
  width: 48px;
  height: 48px;
  background-position: -240px 0;
}
@media (min-width: 1024px) {
  .container-fluid .header .no-col {
    position: absolute;
    top: 0;
  }
  .container-fluid .header .no-col .btn-primary {
    background: transparent;
    border: none;
  }
  .container-fluid .header .menu {
    position: inherit;
    height: auto;
  }
  .container-fluid .header .menu label {
    display: none;
  }
  .container-fluid .header .menu-header {
    position: inherit;
  }
  .container-fluid .header .menu .burger_open {
    display: none;
  }
  .container-fluid .header .menu .nav,
  .container-fluid .header .menu nav.nav-one {
    display: block;
    top: inherit;
    position: inherit;
  }
  .container-fluid .header .menu nav.float-left {
    float: none;
  }
  .container-fluid .header .menu nav {
    width: 100%;
  }
  .container-fluid .header .menu nav ul {
    width: 100%;
    display: table;
  }
  .container-fluid .header .menu nav ul li {
    padding: 0 10px;
    width: auto;
    display: table-cell;
    float: none;
  }
  .container-fluid .header .menu nav ul li:nth-child(2n) {
    padding: auto;
  }
  .container-fluid .header .menu nav ul li:nth-child(2n) a {
    text-align: center;
  }
  .container-fluid .header .menu nav ul li a {
    text-align: center;
  }
}
@keyframes mig {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes move {
  from {
    left: 0;
  }
  50% {
    left: 100%;
  }
  to {
    left: 0;
  }
}
