@bg_header: linear-gradient(to bottom, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%);
@bg_sun: radial-gradient(ellipse at center, rgba(254, 252, 234, 1) 0%, rgba(241, 218, 54, 1) 100%);
@bg_footer: linear-gradient(to bottom, rgba(180, 221, 180, 1) 0%, rgba(131, 199, 131, 1) 17%, rgba(82, 177, 82, 1) 33%, rgba(0, 138, 0, 1) 67%, rgba(0, 87, 0, 1) 83%, rgba(0, 36, 0, 1) 100%);
@bg-color: white;
@bg-btn: #007bff;
@bg: #52B152;
@bg_post: rgb(159, 242, 249);
@br_post: #000;
@cr_post: #000;
;
* {
  padding: 0;
  margin: 0;
}

div {
  box-sizing: border-box;
  &:after, &:before {
    clear: both;
    content: '';
    display: block;
  }
}

body {
  font: 16px sans-serif;
  width: 100%;
}

.row {
  margin: 0;
}

.float {
  &-right {
    float: right;
  }
  &-left {
    float: left;
  }
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: inherit;
  padding: 0;
}

.container-fluid {
  padding: 0;
  .author{

    &-photo{
      width: 100%;
    }
    &-img{
      width: 200px;
      height: 200px;
      border-radius: 100%;
      overflow: hidden;
      margin: 10px 0;
    }
  }
  .errors, .go {
    background: red;
    color: white;
    padding: 5px;
    margin: 5px 0;
  }
  .go {
    background: green;
  }
  form {
    padding-bottom: 15px;
    .btn {
      width: 100%;
      &-primary {
        background-color: @bg-btn;
        border-color: @bg-btn;
      }
    }
    .hide{
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    label.file{
      background: #249dff;
      font-size: 20px;
      font-weight: 100;
      border-radius: 100%;
        cursor: pointer;
      padding: 20px;
    }
  }
  .header {
    background: -moz- @bg_header;
    background: -webkit- @bg_header;
    background: @bg_header;
    .logo {
      padding: 15px;
      .move {
        position: absolute;
        animation-name: move;
        animation-delay: 1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-duration: 10s;
      }
      .sun {
        @sun: 80px;
        position: relative;
        background: -moz- @bg_sun;
        background: -webkit- @bg_sun;
        background: @bg_sun;
        width: @sun;
        height: @sun;
        border-radius: 100%;
        &:after, &:before {
          @eyes: 10px;
          position: absolute;
          width: @eyes;
          height: @eyes;
          background: black;
          top: 20px;
          border-radius: 100%;
          animation-name: mig;
          animation-delay: 2s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
          animation-duration: 2s;
        }
        &:after {
          right: 10px;
        }
        &:before {
          left: 10px;
        }
        .roth {
          border-top: 10px solid black;
          border-radius: 50%;
        }
      }
      .sun, .slang {
        float: left;
      }
      .slang {
        padding: 20px 10px;
        p {
          margin-bottom: 0;
          text-transform: uppercase;
          font-size: 17px;
          color: white;
        }
      }
    }

    form {
      // float: left;
      padding-bottom: 0;
      .btn {
        width: auto;
      }
    }
    .modal {
      &-open {
        float: left;
        margin: 5px;
      }
      &-body {
        form {
          padding-bottom: 15px;
          .btn {

            width: 100%;
            &-primary {
              background-color: @bg-btn;
              border-color: @bg-btn;
            }
          }
        }
        .block {
          &-icons {
            .fa {
              &-facebook {
                &-official {
                  color: #249dff;
                }
              }
              &-odnoklassniki {
                color: #ffa210;
              }
              &-vk {
                color: #2c54ff;
              }
              &-instagram {
                color: #ff6037;
              }
            }
          }
        }
      }
    }
    .menu {
      position: relative;
      display: block;
      height: 60px;
      &-header {
        position: absolute;
        top: 0;
      }
      #checkbox {
        display: none;
        &:checked ~ .nav, &:checked ~ nav{
          display: block;
        }
      }
      label {
        cursor: pointer;
        z-index: 2;
        position: absolute;
        display: block;
      }
      .burger {
        width: 50px;
        height: 50px;
        position: absolute;
        right: 10px;
        top: 12px;
        &_open {
          position: relative;
          background: @bg-color;
          width: 50px;
          height: 5px;
          &:after,
          &:before {
            position: absolute;
            left: 0;
            top: 15px;
            background: @bg-color;
            width: 50px;
            height: 5px;
          }
          &:before {
            top: 30px;
          }
        }
      }
      .nav, nav.nav-one{
        position: absolute;
        top: 100%;
        display: none;
        background: @bg;
        width: 100%;
      }
      nav.nav-one{
        width: 100%;
      }
      nav {
        width: 50%;
        &:nth-child(2){
          li{
            text-align: right;
            padding-right: 20px;
          }
        }
        ul {
          margin-bottom: 0;
          li {
            display: block;
            text-align: left;
            font-size: 16px;
            padding-left: 20px;
            &:hover {
              background: @bg-btn;
            }
            a {
              color: @bg-color;
              display: block;
              text-decoration: none;
              padding: 12px 0;
            }
          }
        }
      }
    }
  }
  .contain {
    padding: 10px;
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
      padding: 0 15px;
    }
    .post {
      background: @bg_post;
      border: 2px solid @br_post;
      border-radius: 10px;
      margin: 5px 0;
      padding: 10px;
      width: 100%;
      position: relative;
      &_img, &_no-img {
        width: 100%;
        margin: 10px 0;
      }
      &_text {
        font-weight: 300;
      }
      button.modal-message[type=button]{
        position: absolute;
        top: 5px;
        left: 5px;
      }
      &_favourites {

        position: absolute;
        top: 5px;
        right: 5px;
        .fa{
          &-star{
            border: none;
            &:hover{
              color: #ffa210;
            }
          }
        }
        .favo{
          color: #ffa210;
        }
      }
      &_title {
        margin: 5px 0;
        font-size: 20px;
        font-weight: 500;
      }
      &_data {
        margin: 10px 0;
        text-align: right;
        font-weight: bold;
      }
      &_price{
        p{
          font-weight: 800;
        }

      }
      &_no-img{
        background: darkgray;
        font-size: 25px;
        width: 100%;
        height: 150px;
        position: relative;
        text-align: center;
        p{
          @transform: 50%;
          position: absolute;
          top: @transform;
          left: @transform;
          transform: translate(-@transform, -@transform);
          -o-transform: translate(-@transform, -@transform);
          -moz-transform: translate(-@transform, -@transform);
          -webkit-transform: translate(-@transform, -@transform);
          -ms-transform: translate(-@transform, -@transform);
        }
      }
    }
    .message{
      &-window{
        width: 100%;
        height: 700px;
        cursor: auto;
        background: #e2e2e2;
        border: 2px solid black;
      }
    }
    .form{
      &-message{
        .form-group{
          padding: 10px 0;

        }
        &-text{
          position: relative;

        }
        input{

        }
        .fa-paper-plane-o{
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
    .slide{
      img{
        width: 100%;
        display: block;
      }
    }
  }
  .footer {
    height: 100px;
    padding: 10px;
    background: -moz- @bg_footer;
    background: -webkit- @bg_footer;
    background: @bg_footer;
    .block {
      &_icon {
        float: right;
        @wh: 48px;
        .block_img {
          float: left;
          display: table;
          .img_icons {
            background-image: url(../photo/icons.png);
            width: @wh;
            height: @wh;
            display: block;
            float: left;
          }
          .icon_ok {
            width: @wh;
            height: @wh;
            background-position: 0 0;
          }
          .icon_instagram {
            width: @wh;
            height: @wh;
            background-position: -@wh*2 0;
          }
          .icon_facebook {
            width: @wh;
            height: @wh;
            background-position: -@wh*3 0;
          }
          .icon_vk {
            width: @wh;
            height: @wh;
            background-position: -@wh*5 0;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .container-fluid {
    .header {
      .no-col {
        position: absolute;
        top: 0;
        .btn {
          &-primary {
            background: transparent;
            border: none;
          }
        }
      }
      .menu {
        label {
          display: none;
        }
        position: inherit;
        height: auto;
        &-header {
          position: inherit;
        }
        .burger {
          &_open {
            display: none;
          }
        }
        .nav, nav.nav-one{
          display: block;
          top: inherit;
          position: inherit;
        }
        nav.float-left {
          float: none;
        }
        nav {
          width: 100%;
          ul {
            width: 100%;
            display: table;
            li {
              padding: 0 10px;
              width: auto;
              display: table-cell;
              float: none;
              &:nth-child(2n) {
                padding: auto;
                a {
                  text-align: center;
                }
              }
              a {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes mig {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes move {
  from {
    left: 0;
  }
  50% {
    left: 92%;
  }
  to {
    left: 0;
  }
}